$cor-primaria: #e7e7e7;
$cor-secundaria: #111;
$fonte: 'Open Sans', sans-serif;
$fonte-2: 'Poppins', sans-serif;
$tablet-width: 900px;
$mobile-width: 750px;
$mobile-width-2: 500px;

@mixin tablet{
    @media(max-width: #{$tablet-width}){
        @content;
    }
}

@mixin mobile{
    @media(max-width: #{$mobile-width}){
        @content;
    }
}

@mixin mobile-2{
    @media(max-width: #{$mobile-width-2}){
        @content;
    }
}



