@import 'variaveis';

*{
    margin: 0;
    padding: 0; 
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.header-bg{
    background-color: $cor-primaria;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.logo{
    width: 80px;
    height: 80px;
    max-width: 100%;
}

.titulo{
    display: flex;
    gap: 20px;
}

.titulo h2{
    font-size: 40px;
    align-self: center;
    border-top: 2px solid $cor-secundaria;
    border-bottom: 2px solid $cor-secundaria;
    color: $cor-secundaria;
    padding: 3px 0 ;
    font-family: $fonte;
    @include tablet{
        font-size: 32px;
    }
    @include mobile-2{
        font-size: 24px;
    }
    
}

.header-menu{
    display: flex;
    gap: 40px;
    align-items:center;
    @include tablet{
        gap: 25px;
        padding-right: 40px;
    }
    @include mobile{
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
        top: 100px;
        background-color: $cor-primaria;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
}

.header-menu a{
    font-size: 24px;
    font-family: $fonte;
    color: $cor-secundaria;
    cursor: pointer;
    position: relative;
    display: block;
    @include tablet{
        font-size: 20px;
    }
    @include mobile{
        padding: 1rem 0;
        margin: 0 2rem;
        border-bottom: 2px solid rgba(0,0,0,.05);
        &:hover{
            background-color: rgba(0,0,0,.05);
            transition: .8s;
        }
    }
}

.header-menu a:after{
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: $cor-secundaria;
    margin-top: 4px;
    position: absolute;
    transition: 0.3s;
    @include mobile{
        display: none;
    }
}

.header-menu a:hover:after{
    width: 100%;
}

#btn-mobile{
    display: none;
    margin-right: 30px;
    margin-top: 10px;
    @include mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    @include mobile-2{
        margin: 0 auto;
    }
}

#hamburguer{
    width: 20px;
    border-top: 2px solid;
    &:after, &:before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
}

#nav.active .header-menu{
    @include mobile{
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }
}

#nav.active #hamburguer{
    @include mobile{
       border-top-color: transparent;
       &::before{
        transform: rotate(135deg);
    }
        &::after{
         transform: rotate(-135deg);
         top: -7px;
        }
    }
}

.banner-container{
    max-width: 1920px;
}

.banner-img{
    max-width: 100%;
    background-image: url(../imagens/pizza-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    opacity: 0.9;
    @include tablet{
        height: 600px;
    }
}

.banner-titulo{
    margin: auto;
    font-size: 72px;
    color: #fff;
    font-family: $fonte-2;
    background-color: #111;
    padding: 8px;
    @include tablet{
        font-size: 48px;
    }
    @include mobile{
        font-size: 32px;
    }
    @include mobile-2{
        font-size: 24px;
    }
}
