$cor-primaria: #B22222;
$cor-secundaria: #050000;

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.header-bg{
    background-color: $cor-primaria;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.logo{
    width: 80px;
    height: 80px;
    max-width: 100%;
}

.titulo{
    display: flex;
    gap: 20px;
}

.titulo h2{
    font-size: 40px;
    align-self: center;
    border-top: 2px solid $cor-secundaria;
    border-bottom: 2px solid $cor-secundaria;
    color: $cor-secundaria;
    padding: 3px 0 ;
    font-family: Helvetica, sans-serif;
}

.header-menu{
    display: flex;
    gap: 40px;
}

.header-menu a{
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    color: $cor-secundaria;
    cursor: pointer;
    position: relative;
}

.header-menu a:after{
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: $cor-secundaria;
    margin-top: 4px;
    position: absolute;
}

.header-menu a:hover:after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: $cor-secundaria;
    margin-top: 4px;
    transition: 0.3s;
}