@import 'variaveis';

*{
    margin: 0;
    padding: 0; 
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.header-bg{
    background-color: $cor-primaria;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.logo{
    width: 80px;
    height: 80px;
    max-width: 100%;
    @include mobile-2{
        width: 70px;
        height: 70px;
    }
}

.titulo{
    display: flex;
    gap: 20px;
}

.titulo h2{
    font-size: 40px;
    align-self: center;
    border-top: 2px solid $cor-secundaria;
    border-bottom: 2px solid $cor-secundaria;
    color: $cor-secundaria;
    padding: 3px 0 ;
    font-family: $fonte;
    @include tablet{
        font-size: 32px;
    }
    @include mobile-2{
        font-size: 22px;
    }
    
}

.header-menu{
    display: flex;
    gap: 40px;
    align-items:center;
    @include tablet{
        gap: 25px;
        padding-right: 40px;
    }
    @include mobile{
        display: block;
        position: absolute;
        width: 100%;
        right: 0;
        top: 100px;
        background-color: $cor-primaria;
        height: 0;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

}

.header-menu a{
    font-size: 24px;
    font-family: $fonte;
    color: $cor-secundaria;
    cursor: pointer;
    position: relative;
    display: block;
    @include tablet{
        font-size: 20px;
    }
    @include mobile{
        padding: 1rem 0;
        margin: 0 2rem;
        border-bottom: 2px solid $cor-hover;
        &:hover{
            background-color: $cor-hover;
            transition: .8s;
        }
    }
}

.header-menu a:after{
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    background: $cor-secundaria;
    margin-top: 4px;
    position: absolute;
    transition: 0.3s;
    @include mobile{
        display: none;
    }
}

.header-menu a:hover:after{
    width: 100%;
}

#btn-mobile{
    display: none;
    margin-right: 30px;
    margin-top: 10px;
    @include mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    @include mobile-2{
        margin: 0 auto;
    }
}

#hamburguer{
    width: 20px;
    border-top: 2px solid;
    &:after, &:before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
}

#nav.active .header-menu{
    @include mobile{
        height: calc(100vh - 100px);
        visibility: visible;
        overflow-y: auto;
    }
}

#nav.active #hamburguer{
    @include mobile{
       border-top-color: transparent;
       &::before{
        transform: rotate(135deg);
    }
        &::after{
         transform: rotate(-135deg);
         top: -7px;
        }
    }
}

.banner-img{
    max-width: 100%;
    background-image: url(../imagens/pizza-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 750px;
    display: flex;
    opacity: 0.9;
    @include tablet{
        height: 600px;
    }
    @include mobile{
        height: 450px;
    }
    @include mobile-2{
        height: 350px;
    }
}

.banner-titulo{
    margin: auto;
    font-size: 72px;
    color: #fff;
    font-family: $fonte-2;
    background-color: #111;
    opacity: 0.9;
    border-radius: 6px;
    padding: 8px;
    @include tablet{
        font-size: 48px;
    }
    @include mobile{
        font-size: 32px;
        padding: 2px 6px 
    }
    @include mobile-2{
        font-size: 24px;
        padding: 2px 8px 
    }
}


.cardapio{
    background-color: $cor-primaria;
    & h1{
        text-align: center;
        padding: 60px 0 50px 0;
        font-family: $fonte-2;
        font-size: 56px;
    }
}

.pizzas{
    display: grid;
    grid-template-columns: 300px 1fr 1fr 300px;
    gap: 50px;
    padding-bottom: 50px;
    @include desktop-2{
       grid-template-columns: 10px 1fr 1fr;
    }
    @include tablet{
        grid-template-columns:  1fr 1fr;
    }
    @include mobile{
        grid-template-columns: 1fr;
    }
}

.pizzas li{
    display: grid;
    justify-content: center;
    text-align: center;
}

#pizza1, #pizza3, #pizza5{
    grid-column: 2;
    @include desktop-2{
        grid-column: 2;
    }
    @include tablet{
        grid-column: 1;
    }
    @include mobile{
        grid-column: 1;
    }
}

 #pizza2, #pizza4, #pizza6{
    grid-column: 3;
    @include desktop-2{
        grid-column: 3;
    }
    @include tablet{
        grid-column: 2;
    }
    @include mobile{
        grid-column: 1;
    }
}



.pizzas li h3{
    margin-top: 5px;
    font-size: 32px;
    font-family: $fonte;
}

.pizzas li span{
    font-size: 18px;
    margin-top: 5px;
    font-family: $fonte-2;
}

.pizzas li a{
   font-size: 18px;
   font-family: $fonte;
   color: $cor-secundaria;
   cursor: pointer;
   border-radius: 5px;
   padding: 5px;
   transition: 0.5s;
   &:hover{
    background-color: $cor-hover;
    border-radius: 50px;
   }
}

.pizzas img{
    width: 300px ;
    height: 300px;
    max-width: 100%;
    cursor: pointer;
    @include desktop-2{
        width: 200px ;
        height: 200px;
    }
}

.contato{
    display: flex;
    justify-content: space-around;
    padding: 30px 0 40px 0;
    background-color: $cor-hover;
    @include mobile-2{
        display: grid;
    }
}

.contato-lista{
    @include mobile-2{
        margin-bottom: 30px;
    }
}

.contato-lista li{
    margin-bottom: 8px;
    cursor: pointer;
}

.contato-lista h3{
    font-size: 32px;
    font-family: $fonte;
    margin-bottom: 10px;
    text-align: start;
    margin-left: -2px;
}

.telefone{
    display: flex;
    align-items: center;
    & p{
        margin-left: 5px;
    }
}

.instagram{
    display: flex;
    align-items: center;
    & p{
        margin-left: 5px;
    }
}

.facebook{
    display: flex;
    align-items: center;
    & p{
        margin-left: 5px;
    }
}

.endereço h3{
    font-size: 32px;
    font-family: $fonte;
    margin-bottom: 10px;
    margin-left: -2px;
}

.endereço p{
    margin-bottom: 8px;
    font-size: 16px;
    font-family: $fonte;
}

.modal-container{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    &.ativo{
        display: flex;
    }
}

.modal{
    background-color: white;
    padding: 40px;
    border: 10px solid $cor-secundaria;
    box-shadow: 0 0 0 10px white;
    position: relative;
    min-width: 500px;
    @include tablet{
        width: 400px;
        min-width: 0;
    }
    @include mobile{
        min-width: 0;
        width: 350px;
    }
    @include mobile-2{
        width: 265px;
    }
}

@keyframes modal{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ativo .modal{
    animation: modal .3s forwards;
}

.fechar{
    width: 50px;
    height: 50px;
    border: 4px solid white;
    border-radius: 50%;
    top: -30px;
    right: -30px;
    position: absolute;
    background-color: #E54;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
}

.modal label{
    font-family: $fonte;
    display: block;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
   
}

.modal input{
    width: 100%;
    padding: .7rem;
    text-align: start;
}

.modal button[type="submit"]{
    display: block;
    background-color: $cor-secundaria;
    border: none;
    border-radius: 4px;
    padding: .7rem 2rem;
    font-size: 1rem;
    color: white;
    font-family: $fonte;
    margin-top: 1rem;
    cursor: pointer;
    font-weight: bold;
}

.pizza-container{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
    &.ativo{
        display: flex;
    }
}

.modal-pizza{
   width: 900px;
   background-color: white;
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 40px;
   gap: 80px;
   border-radius: 10px;
   border: 10px solid $cor-secundaria;
   box-shadow: 0 0 0 10px white;
   @include tablet{
    gap: 50px;
    width: 700px;
   }
   @include mobile{
    width: 500px;
    display: block;
   }
   @include mobile-2{
    width: 350px;
    border: 7px solid $cor-secundaria;
    box-shadow: 0 0 0 7px white;
   }
}

@keyframes pizzaModal{
    from{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.ativo .modal-pizza{
    animation: pizzaModal .3s forwards;
}

.imagem-modal{
    display:flex;
    justify-content: start;
    align-items: center;
}

.imagem-modal img{
    height:300px;
    width:auto;
    @include tablet{
        height: 250px;
    }
    @include mobile{
        height: 100px;
        margin: 0 auto;
    }
}

.pizza-titulo{
    font-size:40px;
    margin-bottom: 20px;
    font-family: $fonte;
}

.pizza-info h3{
    margin-bottom: 5px;
    font-size: 32px;
    font-family: $fonte;
    @include mobile{
        font-size: 24px;
        text-align: center;
    }
}

.pizzaInfo-sizes{
    display: flex;
    gap: 30px;
    font-family: $fonte;
    background-color: $cor-primaria;
    border-radius: 10px;
    max-width: 360px;
    color: $cor-secundaria;
    margin-bottom: 20px;
    @include tablet{
        gap: 10px;
    }
    @include mobile{
        max-width: 300px;
        font-size: 14px;
        margin: 0 auto;
    }
    @include mobile-2{
        display: block;
    }
}

.pizzaInfo-sizes li{
    cursor: pointer;
    padding-left: 20px;
    min-width: 100px;
    padding: 5px 15px;
    &:hover{
        background-color: $cor-hover;
    }& p{
        font-size: 10px;
        font-family: $fonte-2;
        text-align: start;
        color: #000;
        font-weight: bold;
        @include mobile-2{
            text-align: center;
        }
    }
    @include mobile-2{
        text-align: center;
    }
}

.price-area{
    display: flex;
    align-items: center;
    @include mobile{
        display: block;
        text-align: center;
        margin-top: 10px;
    }
   
}

.price{
    font-size: 12px;
    font-family: $fonte;
    & h2{
        margin-bottom: 0;
    }
    & p{
        font-size: 32px;
        font-family: $fonte-2;
        align-self: self-end;
    }
    @include mobile{
        margin: 0 auto;
    }
}

.pizza-qtArea{
    align-self: flex-end;
    margin-left: 30px;
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
    margin-bottom: 10px;
    @include mobile{
        margin-right: 5px;
    }
}

.pizza-qtArea button{
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color: $cor-secundaria;
}

.pizza-qt{
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:$cor-secundaria;
}

.add-area{
    font-size: 16px;
    font-family: $fonte;
    gap: 30px;
    display: flex;
    margin-top: 20px;
    @include mobile{
        justify-content: center;
    }
}

.add{
    cursor: pointer;
    background-color: $cor-hover; 
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    &:hover{
        background-color: $cor-primaria;
    }
    @include mobile{
       padding: 10px 8px;
       font-size: 16px;
    }
    @include mobile-2{
        font-size: 14px;
        white-space: nowrap;
    }
}

.remove{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 14px;
    color: #E54;
    @include mobile-2{
        text-align: end;
    }
}